#iphone {
  height:515px;
}
#studio {
  height:750px;
}

.contributions {
  list-style: none;
  margin-left: 0;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: -0.67px;
}

.contributions li {
  margin: 0;
  line-height: 56px;
  border-top: 2px solid #ddd;
}

.slideItem {
  padding: 0 10px;
  text-align: center;
}

.slick-slide img {
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
}

@media (max-width: 800px) {
  .grid-row {
      padding: 10px 0px !important;
  }

  #studio {
    height:250px;
  }
}

#typeform-button {
    display: inline-block;
    text-decoration: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    margin: 0;
    height: 50px;
    padding: 0px 33px;
    border-radius: 25px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
