body {}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 700;
}

p {
    font-size: 20px;
    font-weight: 300;
}

.grid-row {
    padding: 50px 75px !important;
}

#iphone {
  height:515px;
}
#studio {
  height:750px;
}

@media (max-width: 800px) {
  .grid-row {
      padding: 10px 0px !important;
  }

  #studio {
    height:250px;
  }
}

#typeform-button {
    display: inline-block;
    text-decoration: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    margin: 0;
    height: 50px;
    padding: 0px 33px;
    border-radius: 25px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
